@use '@angular/material' as mat;
@include mat.core();

@import 'styles-variables';

@import 'bootstrap/scss/bootstrap-reboot';
@import 'bootstrap/scss/bootstrap-grid';
@import 'styles-reset';

@import './themes/default-theme';
@import './themes/black-theme';

@import 'styles-reset.scss-theme';
@import './app/core/layout/main-layout/main-layout.component.scss-theme';
@import './app/feature/home/home.component.scss-theme.scss';

@mixin custom-components-theme($theme) {
    @include ts-styles-reset-theme($theme);
    @include ts-main-layout-component-theme($theme);
    @include ts-home-component-theme($theme);
}

@include mat.all-component-themes($ts-theme);

.default-theme {
    @include custom-components-theme($ts-theme);
}

.black-theme {
    @include mat.all-component-colors($ts-black-theme);    
    @include custom-components-theme($ts-black-theme);
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

* :focus,
:active {
    outline: none !important;
}

.procedimento-tab {
    padding: 16px;
}

// Correção de bug angular-material
.mat-form-field-appearance-outline .mat-form-field-suffix {
    align-self: center;
}
