.procedimento-title {
    margin-top: 16px;
    margin-left: 10px;
}

.procedimento-card {
    padding: 16px 0;
    margin-top: 16px;
}

.procedimento-tab-group {
    .procedimento-tab {
        padding: 16px ;
    }
}


