<div class="container">
  <div class="filter-container">
    <form #f="ngForm" (ngSubmit)="f.valid && searchSubmit(f)" novalidate>
      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>Competencia</mat-label>
        <mat-select name="competencia" [ngModel]="(competenciaSelectedId$ | async)" (selectionChange)="onCompetenciaSelect($event)">
          @if ((competencias$ | async); as competencias) {
            @for (competencia of competencias; track competencia) {
              <mat-option [value]="competencia.id">
              {{ competencia.mesAnoDisplay }}</mat-option>
            }
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-9">
        <mat-label>Pesquisar</mat-label>
        <input type="search" required #filter="ngModel" name="filter" matInput cdkFocusInitial [ngModel]="(procedimentosFilter$ | async)"
          placeholder="Pesquisar">
          <button matSuffix mat-icon-button aria-label="Pesquisar" style="top: 0;">
            <fa-icon icon="search"></fa-icon>
          </button>
          @if (filter.errors?.required) {
            <mat-error>Informe um filtro para pesquisar</mat-error>
          }
        </mat-form-field>
      </form>
    </div>

    <mat-nav-list>
      @for (procedimento of (procedimentos$ | async); track procedimento) {
        <a mat-list-item [routerLink]="['/sigtap/procedimento/' + procedimento.codigo ]">
          <span matListItemTitle>{{procedimento.nome}}</span>
          <span matListItemLine> {{procedimento.codigo}}</span>
        </a>
      }
    </mat-nav-list>
  </div>