@use '@angular/material' as mat;

$ts-black-primary: mat.define-palette(mat.$blue-grey-palette, 500, 300, 900);
$ts-black-accent: mat.define-palette(mat.$blue-palette, 300);
$ts-black-warn: mat.define-palette(mat.$red-palette, 500);

$ts-black-theme: mat.define-dark-theme((
    color: (
        primary: $ts-black-primary,
        accent: $ts-black-accent,
        warn: $ts-black-warn,
    ),
    typography: $ts-typography-config,
    density: 0,
));
