@use '@angular/material' as mat;

$ts-primary: mat.define-palette(mat.$light-blue-palette, 900);
$ts-accent: mat.define-palette(mat.$teal-palette, 300);
$ts-warn: mat.define-palette(mat.$red-palette, 500);

$ts-typography-config: mat.define-typography-config(); 

$ts-theme: mat.define-light-theme((
    color: (
        primary: $ts-primary,
        accent: $ts-accent,
        warn: $ts-warn,
    ),    
    typography: $ts-typography-config,
    density: 0,
));
