.container {
    margin-top: 14px;
}


.table-container {
    border: lightgrey 1px solid;
    border-radius: 5px;
    overflow: hidden;

    table {
        width: 100%;
    }
}

.actions {
    margin-top: 10px;
}

.admin-area-select {
    width: 100%;
}
