<div class="background">
    <div class="container">
        <h1 class="title">Tabela SUS</h1>

        <div class="actions">
            <a mat-raised-button class="actions-main" color="primary" routerLink="../sigtap">
                Pesquisa procedimentos
            </a>
            <a mat-raised-button class="actions-main" color="primary" routerLink="sigtap">
                Tabelas
            </a>
            <a mat-raised-button class="actions-main" color="primary" routerLink="sigtap">
                Pesquisa completa
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="presentation">
        <h2 class="sub-title mat-display-1">Uma alternativa ao site oficial</h2>
        <p class="mat-subheading-2">
        O site oficial <a href="http://sigtap.datasus.gov.br/" rel="noopener noreferrer" target="_blank">Sigtap Datasus</a> frequentemente encontra-se indisponível.
        Aqui você encontra uma alternativa de consulta alimentada com dados exportados do site oficial.
        </p>
    </div>
</div>
