.container {
    margin-top: 14px;
}

.table-container {
    border: lightgrey 1px solid;
    border-radius: 5px;
    overflow: hidden;

    table {
        width: 100%;
    }
}

.actions {
    margin-top: 10px;
    button {
        margin: 0 10px 0 0;
    }
}

.import-container {
    border: lightgrey 1px solid;
    border-radius: 5px;
    overflow: hidden;
    padding: 8px;
    margin-top: 10px;
}
